body{
    background-image: url('../assets/interno.jpg');
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}
.header{
    background-color: #8fa9c3 !important;
    background-image: linear-gradient(5deg, #807c7c, transparent);
    height: 5rem;
    text-align: center;
    font-family: 'Segoe UI Semibold';
    font-size: 55px;
    color: white;
}
.content{
    background-color: rgb(244, 244, 244);;
    height: 700px;
    text-align: center;
}
.footer{
    background-color: rgb(128, 124, 124);
    height: 5rem;
}
.navbar{
    background-color: rgb(255, 255, 255);
    border: solid rgb(128, 124, 124);
    border-left: 2px;
    border-right: 2px;
    height: auto;
}
@media screen{
    #loginadm, #cart, #logout, #paginicial, #voltar, #addcart, #exccart{
        background-color: transparent;
        border: transparent;
    }
}
#divsombra{
    font-family: 'Times new roman';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

#divadm{
    font-family: 'Times new roman';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 220px;
}
#divmed{
    display: inline-block;
    font-family: 'Times new roman';
    margin-top: 150px;
    margin-left: 0px;
    margin-bottom: 80px;
    width: 300px;
    height: 100px;
}
#divloja{
    text-align: center;
    height: auto;
    font-family: 'Times new roman';
}
table{
    border: solid transparent 10px;
    font-family: 'Times new roman';
    height: 200px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    text-align: center;
}
td{
    border: solid transparent 8px;
}
#table{
    border: solid rgb(128, 124, 124) 3px;
    border-radius: 20px;
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.color{
    color: #fff!important;
    text-decoration: none;
}
#divcadastro {
    font-family: 'Times new roman';
    text-align: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 42px;
}
.busca {
    background: #d6dce2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2%;
    margin: 15px;
    border-radius: 7px;
    border-bottom: 2px solid #8fa6bf;
    border-left: 2px solid #8da5bd;
}
.card-dash{

    padding: 57px;
}
.card-img, .card-img-bottom, .card-img-top {
 
    width: 50%! important;
    margin-left: 70px;
}

.row-card {
    margin-right: 0px! important;
    margin-left: 18px! important;
    background-color: #00000047;
    border-radius: 12px;
    padding: 64px;
    margin-top: 76px;
}
nav.navbar.navbar-expand-md {
    box-shadow: 10px 10px 10px -1px;
}
